@model MobWeb.Site.ViewModels.UsuarioLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="login-box">
        <div class="login-logo">
            <a><b>Mob</b>WEB</a>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Faça seu login na MobWEB</p>
            <form>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", @placeholder = "Usuario" } })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(model => model.Senha, new { @class = "form-control", @placeholder = "Senha" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="submit" class="btn btn-primary btn-block btn-flat" value="entrar" />
                    </div>
                </div>
            </form>
            <!-- /.social-auth-links -->
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
}


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}