@model MobWeb.Modelo.Cliente

@{
    ViewBag.Title = "Adicionar Cliente";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}


@using (Html.BeginForm(new { id="form"}))
{
    @Html.AntiForgeryToken();

    <div class="panel panel-primary">
        <div class="panel-heading">
            Cadastrar Novo Cliente&nbsp;<span class="glyphicon glyphicon-user"></span>
        </div>
    
        <div class="panel-body">
        
            <div class="alert"> @TempData["mensagem"] </div>
        
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.ClienteId)
                @Html.ValidationSummary(true, null, new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.RazaoSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control", @id = "rs" } })
                        @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NomeFantasia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomeFantasia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Municipio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Municipio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Municipio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control cep", @id = "cep", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cnpj, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "form-control", @id = "cnpj", type = "text", @onkeyup="checkCnpj()"} })
                       
                        <span id="spanmess"></span>
                        @Html.ValidationMessageFor(model => model.Cnpj, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" id="btn" value="Adicionar" class="btn btn-success" />
            @Html.ActionLink("Voltar para a lista de clientes", "ListarClientes", "Clientes", htmlAttributes: new { @class = "btn btn-warning" })
        </div>
    </div>
}

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#cep").inputmask("mask", { "mask": "99.999-999" });
            $('#cnpj').inputmask("mask", { "mask": "99.999.999/9999-99" });

        });
    </script>

    <script type="text/javascript">
        function checkCnpj() {
            
           var span = $('#spanmess').html("checando...")
                            
            $.post("@Url.Action("CheckCnpj", "Clientes")",
                {
                    cnpj: $("#cnpj").val()
                },

                function (data) {
                    
                    if (data == 0) {
                        $("#spanmess").html('<font color="Green">CNPJ Válido!</font>');
                        $("#cnpj").css("border-color", "Green");
                    }
                    else
                    {
                        $("#spanmess").html('<font color="Red">CNPJ já cadastrado!</font>');
                        $("#cnpj").css("border-color", "Red");
                    }
        
                })
        }

        

              

    </script>

}
