@model MobWeb.Modelo.Cliente

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
    ViewBag.Title = "Deletar Cliente";
}


<h3>Você tem certeza que que deletar esse Cliente?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.ClienteId)
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar a lista de Clientes", "ListarClientes", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>