@model  IEnumerable<MobWeb.Modelo.Usuario>

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
    ViewBag.Title = "Lista de Usuários";
}


<table id="tbl" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Apelido)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Telefone)</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Apelido)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                <td>@Html.ActionLink("Editar", "EditarUsuario", null, new { id = item.UsuarioId }, new { @class = "btn btn-danger" })</td>
                <td>@Html.ActionLink("Excluir", "DeletarUsuario", null, new { id = item.UsuarioId }, new { @class = "btn btn-warning" })</td>
            </tr>
        }
    </tbody>
</table>
<div class="panel panel-footer">
    @Html.ActionLink("Adicionar Novo Usuario", "AdicionarCliente", "Cliente", new { @class = "btn btn-lg btn-success" })
</div>


@section Styles{
    <link href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
}


@section Scripts{
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/dataTables.bootstrap.js")"></script>


    <script type="text/javascript">

        $(document).ready(function () {

            $('#tbl').dataTable();
            
        });
    </script>
}